<%= render "layouts/navbar", title: "NEW TRANSACTIONS" %>
<section class="container mt-3">
<%= render "layouts/flash" %>
<%= render "form", transaction: @transaction %>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
</section>