@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

.app-name {
  font-family: 'Lobster', cursive;
}



.bg {
  background-color: whitesmoke;
}

.bg-card {
  background-color:white;
}

.back-section {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  background-color: #3778C2;
}

.back-section p {
  margin-left: 13vh;
  font-size: 1.3rem;
}

.bg-nav {
  background-color: #3778C2;
}

.bg-btn {
  background-color: #5FB523;
}

.add-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent;
  border : solid 1px white;
  color: white
}

.date {
  font-size: 0.8rem;
  color: lightgrey;
}

.transaction {
  font-size: 1rem;
  font-weight: 700;
}

.amount {
  font-size: 1rem;
  font-weight: 700;
}

.total-section {
  display: flex;
}