<section class="d-flex justify-content-between border border-1 mt-3 p-1 ">
<div class="d-flex">
  <img width="80" height="80" src="<%=category.icon%>" alt="Card image cap">
  <div class="d-flex flex-column ms-3">
    <p><%=category.name%></p>
  </div>
</div>
</section>