<% @categories.each do |category| %>
    <%= render category %>
<% end %>

<div class="d-flex justify-content-center mt-2">
     <%= link_to "Add new Category", new_category_path, class: "btn btn-success" %>
</div>